@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap");
/* font-family: "EB Garamond", serif; */
:root {
  --headerbg: #4f4666;
  --bg: #2e2a38;
  --bg2: #b9b4c7;
  --txt: #faf0e6;
  --txt2: #212427;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Fredoka", sans-serif;
  font-style: normal;
  transition: all 0.3s;
}

body {
  background-color: var(--bg);
  overflow-x: hidden;
}

header {
  height: 60px;
  width: 100%;
  background-color: var(--headerbg);
  display: flex;
}

.headerbox1 {
  width: 91%;
  display: flex;
  align-items: center;
}

.headerbox1 img {
  width: 100px;
  padding-bottom: 10px;
  height: 60px;
  margin: 0px 10px 0px 20px;
  object-fit: cover;
}

.headerbox1 a {
  margin: 0px 0px 0px 20px;
}

.headerbox2 {
  display: flex;
  align-items: center;
  width: 9%;
}

header a {
  text-decoration: none;
  font-size: 24px;
  font-weight: 400;
  color: var(--txt);
  padding: 4px 10px 6px 10px;
  transition: all 0.4s;
  border-radius: 10px;
  font-weight: 700;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

header a:hover {
  background-color: #302b3f;
}
